.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.priceSetting {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  font-family: 'Arial', sans-serif;
}

.priceSetting label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.priceSetting input[type="text"] {
  width: 100%;
  padding: 8px 50px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  text-align: right;
}

.priceSetting p {
  font-size: 14px;
  color: #666;
  margin-top: 0;
}


.inputWrapper {
  position: relative;
  width: 100%;
}

.currency {
  position: absolute;
  top: 35%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
}

.priceInput {
  width: 100%;
  padding: 8px 8px 8px 30px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}