  
  body {
    background-color: #ffffff;
  }
  .p {
    padding: 0;
    margin: 0;
    font-family: Toss Product Sans, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #4e5968;
    word-break: keep-all;
    word-wrap: break-word;
  }
   .wrapper {
    max-width: 200px;
    margin: 0 auto;
  } 
  .button {
    color: #f9fafb;
    background-color: #3182f6;
    margin: 30px 15px 0px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    text-align: center;
    /* vertical-align: middle; */
    cursor: pointer;
    border: 0 solid transparent;
    user-select: none;
    transition: background 0.2s ease, color 0.1s ease;
    text-decoration: none;
    border-radius: 7px;
    padding: 11px 16px;
    width: 250px;
  }
  .button:hover {
    color: #fff;
    background-color: #1b64da;
  }
  .title {
    margin: 0 0 4px;
    font-size: 24px;
    font-weight: 600;
    color: #4e5968;
  }
  .box_section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 1%), 0 6px 6px rgb(0 0 0 / 6%);
    padding: 30px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: auto;
    color: #333d4b;
    align-items: center;
    text-align: center;
    overflow-x: auto; /* Add this property for horizontal scrolling */
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 395px;
    max-height: 840px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 768px) {
    .box_section {
        padding: 30px;
        font-size: 0.9em;
    }
} */

/* Small devices (phones, 600px and up) */
/* @media (max-width: 600px) {
    .box_section {
        padding: 20px;
        font-size: 0.8em;
    }
} */
  :root {
    --inverseGrey50: #202027;
    --inverseGrey100: #2c2c35;
    --inverseGrey200: #3c3c47;
    --inverseGrey300: #4d4d59;
    --inverseGrey400: #62626d;
    --inverseGrey500: #7e7e87;
    --inverseGrey600: #9e9ea4;
    --inverseGrey700: #c3c3c6;
    --inverseGrey800: #e4e4e5;
    --inverseGrey900: #fff;
    --background: #fff;
    --darkBackground: #17171c;
    --greyBackground: #f2f4f6;
    --darkGreyBackground: #101013;
    --layeredBackground: #fff;
    --darkLayeredBackground: #202027;
    --floatBackground: #fff;
    --darkFloatBackground: #2c2c35;
    --black: #000;
    --grey50: #f9fafb;
    --grey100: #f2f4f6;
    --grey200: #e5e8eb;
    --grey300: #d1d6db;
    --grey400: #b0b8c1;
    --grey500: #8b95a1;
    --grey600: #6b7684;
    --grey700: #4e5968;
    --grey800: #333d4b;
    --grey900: #191f28;
    --greyOpacity50: rgba(0, 23, 51, 0.02);
    --greyOpacity100: rgba(2, 32, 71, 0.05);
    --greyOpacity200: rgba(0, 27, 55, 0.1);
    --greyOpacity300: rgba(0, 29, 58, 0.18);
    --greyOpacity400: rgba(0, 25, 54, 0.31);
    --greyOpacity500: rgba(3, 24, 50, 0.46);
    --greyOpacity600: rgba(0, 19, 43, 0.58);
    --greyOpacity700: rgba(3, 18, 40, 0.7);
    --greyOpacity800: rgba(0, 12, 30, 0.8);
    --greyOpacity900: rgba(2, 9, 19, 0.91);
    --white: #fff;
    --blue50: #e8f3ff;
    --blue100: #c9e2ff;
    --blue200: #90c2ff;
    --blue300: #64a8ff;
    --blue400: #4593fc;
    --blue500: #3182f6;
    --blue600: #2272eb;
    --blue700: #1b64da;
    --blue800: #1957c2;
    --blue900: #194aa6;
    --red50: #fee;
    --red100: #ffd4d6;
    --red200: #feafb4;
    --red300: #fb8890;
    --red400: #f66570;
    --red500: #f04452;
    --red600: #e42939;
    --red700: #d22030;
    --red800: #bc1b2a;
    --red900: #a51926;
    --orange50: #fff3e0;
    --orange100: #ffe0b0;
    --orange200: #ffcd80;
    --orange300: #ffbd51;
    --orange400: #ffa927;
    --orange500: #fe9800;
    --orange600: #fb8800;
    --orange700: #f57800;
    --orange800: #ed6700;
    --orange900: #e45600;
    --yellow50: #fff9e7;
    --yellow100: #ffefbf;
    --yellow200: #ffe69b;
    --yellow300: #ffdd78;
    --yellow400: #ffd158;
    --yellow500: #ffc342;
    --yellow600: #ffb331;
    --yellow700: #faa131;
    --yellow800: #ee8f11;
    --yellow900: #dd7d02;
    --green50: #f0faf6;
    --green100: #aeefd5;
    --green200: #76e4b8;
    --green300: #3fd599;
    --green400: #15c47e;
    --green500: #03b26c;
    --green600: #02a262;
    --green700: #029359;
    --green800: #028450;
    --green900: #027648;
    --teal50: #edf8f8;
    --teal100: #bce9e9;
    --teal200: #89d8d8;
    --teal300: #58c7c7;
    --teal400: #30b6b6;
    --teal500: #18a5a5;
    --teal600: #109595;
    --teal700: #0c8585;
    --teal800: #097575;
    --teal900: #076565;
    --purple50: #f9f0fc;
    --purple100: #edccf8;
    --purple200: #da9bef;
    --purple300: #c770e4;
    --purple400: #b44bd7;
    --purple500: #a234c7;
    --purple600: #9128b4;
    --purple700: #8222a2;
    --purple800: #73228e;
    --purple900: #65237b;
    --whiteOpacity50: rgba(209, 209, 253, 0.05);
    --whiteOpacity100: rgba(217, 217, 255, 0.11);
    --whiteOpacity200: rgba(222, 222, 255, 0.19);
    --whiteOpacity300: rgba(224, 224, 255, 0.27);
    --whiteOpacity400: rgba(232, 232, 253, 0.36);
    --whiteOpacity500: rgba(242, 242, 255, 0.47);
    --whiteOpacity600: rgba(248, 248, 255, 0.6);
    --whiteOpacity700: rgba(253, 253, 255, 0.75);
    --whiteOpacity800: rgba(253, 253, 254, 0.89);
    --whiteOpacity900: #fff;
    --lightThemeGrey50: #f9fafb;
    --lightThemeGrey100: #f2f4f6;
    --lightThemeGrey200: #e5e8eb;
    --lightThemeGrey300: #d1d6db;
    --lightThemeGrey400: #b0b8c1;
    --lightThemeGrey500: #8b95a1;
    --lightThemeGrey600: #6b7684;
    --lightThemeGrey700: #4e5968;
    --lightThemeGrey800: #333d4b;
    --lightThemeGrey900: #191f28;
    --darkThemeGrey50: #202027;
    --darkThemeGrey100: #2c2c35;
    --darkThemeGrey200: #3c3c47;
    --darkThemeGrey300: #4d4d59;
    --darkThemeGrey400: #62626d;
    --darkThemeGrey500: #7e7e87;
    --darkThemeGrey600: #9e9ea4;
    --darkThemeGrey700: #c3c3c6;
    --darkThemeGrey800: #e4e4e5;
    --darkThemeGrey900: #fff;
    --lightThemeBlue50: #e8f3ff;
    --lightThemeBlue100: #c9e2ff;
    --lightThemeBlue200: #90c2ff;
    --lightThemeBlue300: #64a8ff;
    --lightThemeBlue400: #4593fc;
    --lightThemeBlue500: #3182f6;
    --lightThemeBlue600: #2272eb;
    --lightThemeBlue700: #1b64da;
    --lightThemeBlue800: #1957c2;
    --lightThemeBlue900: #194aa6;
    --darkThemeBlue50: #202c4d;
    --darkThemeBlue100: #23386a;
    --darkThemeBlue200: #25478c;
    --darkThemeBlue300: #265ab3;
    --darkThemeBlue400: #2970d9;
    --darkThemeBlue500: #3485fa;
    --darkThemeBlue600: #449bff;
    --darkThemeBlue700: #61b0ff;
    --darkThemeBlue800: #8fcdff;
    --darkThemeBlue900: #c8e7ff;
    --lightThemeRed50: #fee;
    --lightThemeRed100: #ffd4d6;
    --lightThemeRed200: #feafb4;
    --lightThemeRed300: #fb8890;
    --lightThemeRed400: #f66570;
    --lightThemeRed500: #f04452;
    --lightThemeRed600: #e42939;
    --lightThemeRed700: #d22030;
    --lightThemeRed800: #bc1b2a;
    --lightThemeRed900: #a51926;
    --darkThemeRed50: #3c2020;
    --darkThemeRed100: #562025;
    --darkThemeRed200: #7a242d;
    --darkThemeRed300: #9e2733;
    --darkThemeRed400: #ca2f3d;
    --darkThemeRed500: #f04251;
    --darkThemeRed600: #fa616d;
    --darkThemeRed700: #fe818b;
    --darkThemeRed800: #ffa8ad;
    --darkThemeRed900: #ffd1d3;
    --lightThemeOrange50: #ffe0b0;
    --lightThemeOrange100: #ffe0b0;
    --lightThemeOrange200: #ffcd80;
    --lightThemeOrange300: #ffbd51;
    --lightThemeOrange400: #ffa927;
    --lightThemeOrange500: #fe9800;
    --lightThemeOrange600: #fb8800;
    --lightThemeOrange700: #f57800;
    --lightThemeOrange800: #ed6700;
    --lightThemeOrange900: #e45600;
    --darkThemeOrange50: #3d2500;
    --darkThemeOrange100: #563200;
    --darkThemeOrange200: #804600;
    --darkThemeOrange300: #a85f00;
    --darkThemeOrange400: #cf7200;
    --darkThemeOrange500: #f18600;
    --darkThemeOrange600: #fd9528;
    --darkThemeOrange700: #ffa861;
    --darkThemeOrange800: #ffc39e;
    --darkThemeOrange900: #ffe4d6;
    --lightThemeYellow50: #fff9e7;
    --lightThemeYellow100: #ffefbf;
    --lightThemeYellow200: #ffe69b;
    --lightThemeYellow300: #ffdd78;
    --lightThemeYellow400: #ffd158;
    --lightThemeYellow500: #ffc342;
    --lightThemeYellow600: #ffb331;
    --lightThemeYellow700: #faa131;
    --lightThemeYellow800: #ee8f11;
    --lightThemeYellow900: #dd7d02;
    --darkThemeYellow50: #3d2d1a;
    --darkThemeYellow100: #724c1e;
    --darkThemeYellow200: #b56f1d;
    --darkThemeYellow300: #eb8b1e;
    --darkThemeYellow400: #ffa126;
    --darkThemeYellow500: #ffb134;
    --darkThemeYellow600: #ffc259;
    --darkThemeYellow700: #ffd68a;
    --darkThemeYellow800: #ffe5b2;
    --darkThemeYellow900: #fff1d4;
    --lightThemeGreen50: #f0faf6;
    --lightThemeGreen100: #aeefd5;
    --lightThemeGreen200: #76e4b8;
    --lightThemeGreen300: #3fd599;
    --lightThemeGreen400: #15c47e;
    --lightThemeGreen500: #03b26c;
    --lightThemeGreen600: #02a262;
    --lightThemeGreen700: #029359;
    --lightThemeGreen800: #028450;
    --lightThemeGreen900: #027648;
    --darkThemeGreen50: #153729;
    --darkThemeGreen100: #135338;
    --darkThemeGreen200: #136d47;
    --darkThemeGreen300: #138a59;
    --darkThemeGreen400: #13a065;
    --darkThemeGreen500: #16bb76;
    --darkThemeGreen600: #26cf88;
    --darkThemeGreen700: #4ee4a6;
    --darkThemeGreen800: #82f6c5;
    --darkThemeGreen900: #ccffea;
    --lightThemeTeal50: #edf8f8;
    --lightThemeTeal100: #bce9e9;
    --lightThemeTeal200: #89d8d8;
    --lightThemeTeal300: #58c7c7;
    --lightThemeTeal400: #30b6b6;
    --lightThemeTeal500: #18a5a5;
    --lightThemeTeal600: #109595;
    --lightThemeTeal700: #0c8585;
    --lightThemeTeal800: #097575;
    --lightThemeTeal900: #076565;
    --darkThemeTeal50: #203537;
    --darkThemeTeal100: #224e51;
    --darkThemeTeal200: #226368;
    --darkThemeTeal300: #247e85;
    --darkThemeTeal400: #26939a;
    --darkThemeTeal500: #2eaab2;
    --darkThemeTeal600: #43bec7;
    --darkThemeTeal700: #65d4dc;
    --darkThemeTeal800: #9be8ee;
    --darkThemeTeal900: #d6fcff;
    --lightThemePurple50: #f9f0fc;
    --lightThemePurple100: #edccf8;
    --lightThemePurple200: #da9bef;
    --lightThemePurple300: #c770e4;
    --lightThemePurple400: #b44bd7;
    --lightThemePurple500: #a234c7;
    --lightThemePurple600: #9128b4;
    --lightThemePurple700: #8222a2;
    --lightThemePurple800: #73228e;
    --lightThemePurple900: #65237b;
    --darkThemePurple50: #3f2447;
    --darkThemePurple100: #522361;
    --darkThemePurple200: #66247b;
    --darkThemePurple300: #7b2595;
    --darkThemePurple400: #962fb5;
    --darkThemePurple500: #ae3dd1;
    --darkThemePurple600: #c353e5;
    --darkThemePurple700: #d77cf2;
    --darkThemePurple800: #eaacfc;
    --darkThemePurple900: #f6d9ff;
    --lightThemeBackgroundDimmed: rgba(0, 0, 0, 0.2);
    --darkThemeBackgroundDimmed: rgba(0, 0, 0, 0.56);
    --lightThemeBackgroundLevelB01: #f2f4f6;
    --darkThemeBackgroundLevelB01: #101013;
    --lightThemeBackground: #fff;
    --darkThemeBackground: #17171c;
    --lightThemeBackgroundLevel01: #fff;
    --darkThemeBackgroundLevel01: #202027;
    --lightThemeBackgroundLevel02: #fff;
    --darkThemeBackgroundLevel02: #2c2c35;
    --lightThemeHairlineBorder: #e5e8eb;
    --darkThemeHairlineBorder: #3c3c47;
  }
  
  body,
  html {
    font-family: Toss Product Sans, Tossface, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
    word-wrap: break-word;
  }
  
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  
  button:disabled,
  input:disabled {
    cursor: not-allowed;
  }
  
  button,
  input,
  textarea {
    font-family: Toss Product Sans, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  
  .color--grey800 {
    color: #333d4b;
    color: var(--grey800);
  }
  
  .color--grey700 {
    color: #4e5968;
    color: var(--grey700);
  }
  
  .color--grey600 {
    color: #6b7684;
    color: var(--grey600);
  }
  
  .color--grey500 {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .color--blue500 {
    color: #3182f6;
    color: var(--blue500);
  }
  
  .color--blue700 {
    color: #1b64da;
    color: var(--blue700);
  }
  
  .bg--white {
    background-color: #fff;
    background-color: var(--white);
  }
  
  .bg--grey100 {
    background-color: #f2f4f6;
    background-color: var(--grey100);
  }
  
  .bg--greyOpacity100 {
    background-color: rgba(2, 32, 71, 0.05);
    background-color: var(--greyOpacity100);
  }
  
  .bg--greyOpacity200 {
    background-color: rgba(0, 27, 55, 0.1);
    background-color: var(--greyOpacity200);
  }
  
  .bg--blue50 {
    background-color: #e8f3ff;
    background-color: var(--blue50);
  }
  
  :root {
    --padding-base-vertical: 11px;
    --padding-base-horizontal: 16px;
    --padding-t-vertical: 4px;
    --padding-t-horizontal: 8px;
    --padding-s-vertical: 7px;
    --padding-s-horizontal: 12px;
    --padding-l-vertical: 11px;
    --padding-l-horizontal: 22px;
    --padding-xl-vertical: 18px;
    --padding-xl-horizontal: 24px;
    --padding-container-base: 48px;
  }
  
  .padding--base {
    padding: 11px 16px;
    padding: var(--padding-base-vertical) var(--padding-base-horizontal);
  }
  
  .padding--t {
    padding: 4px 8px;
    padding: var(--padding-t-vertical) var(--padding-t-horizontal);
  }
  
  .padding--s {
    padding: 7px 12px;
    padding: var(--padding-s-vertical) var(--padding-s-horizontal);
  }
  
  .padding--l {
    padding: 11px 22px;
    padding: var(--padding-l-vertical) var(--padding-l-horizontal);
  }
  
  .padding--xl {
    padding: 18px 24px;
    padding: var(--padding-xl-vertical) var(--padding-xl-horizontal);
  }
  
  :root {
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;
    --radius-xl: 20px;
    --radius-xxl: 24px;
  }
  
  .radius--s {
    border-radius: 4px;
    border-radius: var(--radius-s);
  }
  
  .radius--m {
    border-radius: 8px;
    border-radius: var(--radius-m);
  }
  
  .radius--l {
    border-radius: 16px;
    border-radius: var(--radius-l);
  }
  
  .radius--xl {
    border-radius: 20px;
    border-radius: var(--radius-xl);
  }
  
  .radius--xxl {
    border-radius: 24px;
    border-radius: var(--radius-xxl);
  }
  
  :root {
    --shadow-s: 0 0 4px 0 var(--greyOpacity100), 0 4px 16px 0 var(--greyOpacity100);
    --shadow-m: 0 8px 16px 0 var(--greyOpacity200), 0 4px 8px 0 var(--greyOpacity100);
    --shadow-l: 0 24px 40px 0 var(--greyOpacity50), 0 16px 24px 0 var(--greyOpacity200), 0 0 8px 0 var(--greyOpacity100);
  }
  
  .shadow--s {
    box-shadow: 0 0 4px 0 rgba(2, 32, 71, 0.05), 0 4px 16px 0 rgba(2, 32, 71, 0.05);
    box-shadow: var(--shadow-s);
  }
  
  .shadow--m {
    box-shadow: 0 8px 16px 0 rgba(0, 27, 55, 0.1), 0 4px 8px 0 rgba(2, 32, 71, 0.05);
    box-shadow: var(--shadow-m);
  }
  
  .shadow--l {
    box-shadow: 0 24px 40px 0 rgba(0, 23, 51, 0.02), 0 16px 24px 0 rgba(0, 27, 55, 0.1), 0 0 8px 0 rgba(2, 32, 71, 0.05);
    box-shadow: var(--shadow-l);
  }
  
  .text--left {
    text-align: left;
  }
  
  .text--right {
    text-align: right;
  }
  
  .text--center {
    text-align: center;
  }
  
  .text--justify {
    text-align: justify;
  }
  
  :root {
    --line-height-base: 1.6;
    --line-height-adjust: 1.3;
    --font-size-h1: 56px;
    --font-size-h2: 48px;
    --font-size-h3: 36px;
    --font-size-h4: 32px;
    --font-size-h5: 24px;
    --font-size-h6: 20px;
    --font-size-h7: 17px;
    --font-size-p: 15px;
    --font-size-sm: 13px;
    --font-size-small: 13px;
    --font-size-xsmall: 11px;
    --font-weight-bold: bold;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: normal;
  }
  
  .typography {
    margin: 0;
    padding: 0;
  }
  
  .typography--h1,
  .typography--h2,
  .typography--h3,
  .typography--h4 {
    line-height: 1.3;
    line-height: var(--line-height-adjust);
  }
  
  .typography--h1 {
    font-size: 56px;
    font-size: var(--font-size-h1);
  }
  
  .typography--h2 {
    font-size: 48px;
    font-size: var(--font-size-h2);
  }
  
  .typography--h3 {
    font-size: 36px;
    font-size: var(--font-size-h3);
  }
  
  .typography--h4 {
    font-size: 32px;
    font-size: var(--font-size-h4);
  }
  
  .typography--h5,
  .typography--h6,
  .typography--h7,
  .typography--p,
  .typography--sm,
  .typography--small,
  .typography--xsmall {
    line-height: 1.6;
    line-height: var(--line-height-base);
  }
  
  .typography--h5 {
    font-size: 24px;
    font-size: var(--font-size-h5);
  }
  
  .typography--h6 {
    font-size: 20px;
    font-size: var(--font-size-h6);
  }
  
  .typography--h7 {
    font-size: 17px;
    font-size: var(--font-size-h7);
  }
  
  .typography--p {
    font-size: 15px;
    font-size: var(--font-size-p);
  }
  
  .typography--sm {
    font-size: 13px;
    font-size: var(--font-size-sm);
  }
  
  .typography--small {
    font-size: 13px;
    font-size: var(--font-size-small);
  }
  
  .typography--xsmall {
    font-size: 11px;
    font-size: var(--font-size-xsmall);
  }
  
  .typography--bold {
    font-weight: 700;
  }
  
  .typography--semibold {
    font-weight: 600;
  }
  
  .typography--medium {
    font-weight: 500;
  }
  
  .typography--regular {
    font-weight: 400;
  }
  
  :root {
    --checkable-size: 24px;
    --checkable-input-top: 3px;
    --checkable-input-left: 5px;
    --checkable-input-width: 14px;
    --checkable-input-height: 10px;
    --checkable-input-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.343 4.574l4.243 4.243 7.07-7.071' fill='transparent' stroke-width='2' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    --checkable-label-text-padding: 8px;
    --indeterminate-checkable-input-top: 7px;
    --indeterminate-checkable-input-left: 5px;
    --indeterminate-checkable-input-width: 14px;
  }
  
  :root .checkable--small {
    --checkable-size: 20px;
    --checkable-input-top: 2px;
    --checkable-input-left: 4px;
    --checkable-input-width: 12px;
    --checkable-input-height: 9px;
    --checkable-input-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.286 3.645l3.536 3.536 5.892-5.893' fill='transparent' stroke-width='2' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    --indeterminate-checkable-input-top: 5px;
    --indeterminate-checkable-input-left: 4px;
    --indeterminate-checkable-input-width: 12px;
  }
  
  .checkable {
    position: relative;
    display: flex;
    
  }
  
  .checkable + .checkable {
    margin-top: 12px;
  }
  
  .checkable--inline {
    display: inline-block;
  }
  
  .checkable--inline + .checkable--inline {
    margin-top: 0;
    margin-left: 18px;
  }
  
  .checkable__label {
    display: inline-block;
    max-width: 100px;
    min-height: 24px;
    min-height: var(--checkable-size);
    line-height: 1.6;
    padding-left: 24px;
    padding-left: var(--checkable-size);
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #4e5968;
    color: var(--grey700);
    cursor: pointer;
  }
  
  .checkable__input {
    position: absolute;
    margin: 0 0 0 -24px;
    margin: 0 0 0 calc(var(--checkable-size) * -1);
    top: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
  }
  
  .checkable__input:after,
  .checkable__input:before {
    content: "";
    position: absolute;
  }
  
  .checkable__input:before {
    top: -4px;
    left: 0;
    width: 24px;
    width: var(--checkable-size);
    height: 24px;
    height: var(--checkable-size);
    border: 2px solid #d1d6db;
    border: 2px solid var(--grey300);
    background-color: #fff;
    background-color: var(--white);
    transition: border-color 0.1s ease, background-color 0.1s ease;
  }
  
  .checkable__input:after {
    opacity: 0;
    transition: opacity 0.1s ease;
    top: 3px;
    top: var(--checkable-input-top);
    left: 5px;
    left: var(--checkable-input-left);
    width: 14px;
    width: var(--checkable-input-width);
    height: 10px;
    height: var(--checkable-input-height);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.343 4.574l4.243 4.243 7.07-7.071' fill='transparent' stroke-width='2' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-image: var(--checkable-input-svg);
    background-repeat: no-repeat;
  }
  
  .checkable__input[type="checkbox"]:indeterminate:after {
    top: 7px;
    top: var(--indeterminate-checkable-input-top);
    left: 5px;
    left: var(--indeterminate-checkable-input-left);
    width: 14px;
    width: var(--indeterminate-checkable-input-width);
    height: 0;
    border: 1px solid #fff;
    border: 1px solid var(--white);
    border-radius: 1px;
    transform: rotate(0);
  }
  
  .checkable__input:focus {
    outline: 0;
  }
  
  .checkable__input:focus:before,
  .checkable__input:hover:before {
    background-color: #e8f3ff;
    background-color: var(--blue50);
    border-color: #3182f6;
    border-color: var(--blue500);
  }
  
  .checkable__input:checked:before,
  .checkable__input[type="checkbox"]:indeterminate:before {
    border-color: #3182f6;
    border-color: var(--blue500);
    background-color: #3182f6;
    background-color: var(--blue500);
  }
  
  .checkable__input:checked:after,
  .checkable__input[type="checkbox"]:indeterminate:after {
    opacity: 1;
  }
  
  .checkable__input:disabled:before {
    background-color: #f2f4f6;
    background-color: var(--grey100);
    border-color: rgba(0, 23, 51, 0.02);
    border-color: var(--greyOpacity50);
  }
  
  .checkable__input:disabled:checked:before,
  .checkable__input:disabled[type="checkbox"]:indeterminate:before {
    background-color: #e5e8eb;
    background-color: var(--grey200);
    border-color: #e5e8eb;
    border-color: var(--grey200);
  }
  
  .checkable__input[type="checkbox"]:before {
    border-radius: 6px;
  }
  
  .checkable__input[type="radio"]:before {
    border-radius: 12px;
  }
  
  .checkable__label-text {
    display: inline-block;
    padding-left: 8px;
    padding-left: var(--checkable-label-text-padding);
  }
  
  .checkable--disabled > .checkable__input {
    cursor: not-allowed;
  }
  
  .checkable--disabled > .checkable__label {
    color: #b0b8c1;
    color: var(--grey400);
    cursor: not-allowed;
  }
  
  .checkable--read-only {
    pointer-events: none;
  }
  
  .prefers-reduced-motion .checkable__input:after,
  .prefers-reduced-motion .checkable__input:before {
    transition: none;
  }
  
  :root {
    --dropdown-vertical-margin: 8px;
  }
  
  .p-dropdown {
    color: #4e5968;
    color: var(--grey700);
    margin: 8px 0;
    margin: var(--dropdown-vertical-margin) 0;
    padding: 8px 6px;
    min-width: 120px;
    border-radius: 8px;
    box-shadow: 0 24px 40px 0 rgba(0, 23, 51, 0.02), 0 16px 24px 0 rgba(0, 27, 55, 0.1), 0 0 8px 0 rgba(2, 32, 71, 0.05);
    box-shadow: 0 24px 40px 0 var(--greyOpacity50), 0 16px 24px 0 var(--greyOpacity200), 0 0 8px 0 var(--greyOpacity100);
    overflow-y: auto;
    background: #fff;
    background: var(--white);
  }
  
  .p-dropdown--fill-margin-area {
    overflow-y: visible;
    overflow-y: initial;
    position: relative;
  }
  
  .p-dropdown--fill-margin-area:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -8px;
    top: calc(var(--dropdown-vertical-margin) * -1);
    left: -8px;
    left: calc(var(--dropdown-vertical-margin) * -1);
    right: -8px;
    right: calc(var(--dropdown-vertical-margin) * -1);
    bottom: -8px;
    bottom: calc(var(--dropdown-vertical-margin) * -1);
  }
  
  .p-dropdown--closed {
    display: none;
  }
  
  .p-dropdown__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .prefers-reduced-motion .p-dropdown__item {
    transition: none;
  }
  
  .p-dropdown__portal {
    position: relative;
  }
  
  .p-dropdown__item.p-dropdown__item--focused {
    background-color: rgba(2, 32, 71, 0.05);
    background-color: var(--greyOpacity100);
  }
  
  .p-dropdown__wrapper {
    position: relative;
  }
  
  .p-dark .p-dropdown {
    background: #191f28;
    background: var(--grey900);
  }
  
  .p-flex {
    display: flex;
  }
  
  :root {
    --pGridGutter: 24px;
  }
  
  .p-grid {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-right: calc(var(--pGridGutter) * -1);
  }
  
  .p-grid-col {
    flex-grow: 1;
    padding-right: 24px;
    padding-right: var(--pGridGutter);
  }
  
  .p-grid-col1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  
  .p-grid-col2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  
  .p-grid-col3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .p-grid-col4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .p-grid-col5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  
  .p-grid-col6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .p-grid-col7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  
  .p-grid-col8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  
  .p-grid-col9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .p-grid-col10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  
  .p-grid-col11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  
  .p-grid-col12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media (min-width: 640px) {
    .p-grid-col1--sm {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .p-grid-col2--sm {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .p-grid-col3--sm {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .p-grid-col4--sm {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .p-grid-col5--sm {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .p-grid-col6--sm {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .p-grid-col7--sm {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .p-grid-col8--sm {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .p-grid-col9--sm {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .p-grid-col10--sm {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .p-grid-col11--sm {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .p-grid-col12--sm {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .p-grid-col1--md {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .p-grid-col2--md {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .p-grid-col3--md {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .p-grid-col4--md {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .p-grid-col5--md {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .p-grid-col6--md {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .p-grid-col7--md {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .p-grid-col8--md {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .p-grid-col9--md {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .p-grid-col10--md {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .p-grid-col11--md {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .p-grid-col12--md {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 1024px) {
    .p-grid-col1--lg {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .p-grid-col2--lg {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .p-grid-col3--lg {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .p-grid-col4--lg {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .p-grid-col5--lg {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .p-grid-col6--lg {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .p-grid-col7--lg {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .p-grid-col8--lg {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .p-grid-col9--lg {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .p-grid-col10--lg {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .p-grid-col11--lg {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .p-grid-col12--lg {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 1280px) {
    .p-grid-col1--xl {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .p-grid-col2--xl {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .p-grid-col3--xl {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .p-grid-col4--xl {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .p-grid-col5--xl {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .p-grid-col6--xl {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .p-grid-col7--xl {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .p-grid-col8--xl {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .p-grid-col9--xl {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .p-grid-col10--xl {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .p-grid-col11--xl {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .p-grid-col12--xl {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  :root {
    --pGridListGap: 10px;
    --pGridItemBackgroundColor: var(--greyOpacity100);
    --pGridItemBorderColor: transparent;
    --pGridItemSelectedBackgroundColor: var(--blue50);
  }
  
  :root .p-grid-list--border {
    --pGridItemBackgroundColor: var(--white);
    --pGridItemBorderColor: var(--greyOpacity200);
    --pGridItemSelectedBackgroundColor: var(--white);
  }
  
  .p-grid-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -10px 0;
    margin: 0 calc(var(--pGridListGap) * -1) calc(var(--pGridListGap) * -1) 0;
  }
  
  .p-grid-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    background-color: rgba(2, 32, 71, 0.05);
    background-color: var(--pGridItemBackgroundColor);
    box-shadow: inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px var(--pGridItemBorderColor);
    margin: 0 10px 10px 0;
    margin: 0 var(--pGridListGap) var(--pGridListGap) 0;
    padding: 12px 8px;
    border-radius: 12px;
  }
  
  .p-grid-list__item img {
    height: 28px;
  }
  
  .p-grid-list__item-label {
    font-size: 13px;
    font-size: var(--font-size-small);
    font-weight: 600;
    margin-top: 6px;
  }
  
  .p-grid-list__item--small img {
    height: 20px;
  }
  
  .p-grid-list__item--small .p-grid-list__item-label {
    font-size: 13px;
    font-size: var(--font-size-sm);
    font-weight: 600;
    margin-top: 4px;
  }
  
  .p-grid-list__item--clickable {
    cursor: pointer;
  }
  
  .p-grid-list__item--clickable:active,
  .p-grid-list__item--clickable:hover {
    background-color: rgba(0, 27, 55, 0.1);
    background-color: var(--greyOpacity200);
  }
  
  .p-grid-list__item--clickable:focus,
  .p-grid-list__item--selected {
    background-color: #e8f3ff;
    background-color: var(--pGridItemSelectedBackgroundColor);
    box-shadow: inset 0 0 0 1px #3182f6;
    box-shadow: inset 0 0 0 1px var(--blue500);
    outline: none;
  }
  
  .p-grid-list__item--disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  
  .p-grid-list__item--disabled:active,
  .p-grid-list__item--disabled:focus,
  .p-grid-list__item--disabled:hover {
    background-color: #e8f3ff;
    background-color: var(--pGridItemSelectedBackgroundColor);
  }
  
  .p-grid-list__item--disabled:focus {
    box-shadow: none;
  }
  
  .prefers-reduced-motion .p-grid-list__item {
    transition: none;
  }
  
  .p-header {
    white-space: pre-wrap;
    width: 100%;
  }
  
  .p-header.p-header--small {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .p-header.p-header--large,
  .p-header.p-header--medium {
    padding-top: 40px;
    padding-bottom: 24px;
  }
  
  .p-header__top {
    display: flex;
    flex-direction: column;
  }
  
  .p-header__left-and-right-container {
    display: flex;
  }
  
  .p-header__left {
    max-width: 75%;
  }
  
  .p-header__right {
    flex: 1;
    padding-left: 30px;
  }
  
  .p-header__right-addon .p-header__text-button + .p-header__text-button {
    margin-left: 8px;
  }
  
  .p-header__text-top-addon {
    display: block;
  }
  
  .p-header__text-top-addon.p-header__text-top-addon--medium,
  .p-header__text-top-addon.p-header__text-top-addon--small {
    margin-bottom: 8px;
  }
  
  .p-header__text-top-addon.p-header__text-top-addon--large {
    margin-bottom: 10px;
  }
  
  .p-header__text-right-addon {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
  }
  
  .p-header__text-right-addon.p-header__text-right-addon--small {
    margin-left: 8px;
    height: 32px;
    height: calc(var(--line-height-base) * var(--font-size-h6));
  }
  
  .p-header__text-right-addon.p-header__text-right-addon--medium {
    margin-left: 8px;
    height: 38.4px;
    height: calc(var(--line-height-base) * var(--font-size-h5));
  }
  
  .p-header__text-right-addon.p-header__text-right-addon--large {
    margin-left: 10px;
    height: 41.6px;
    height: calc(var(--line-height-adjust) * var(--font-size-h4));
  }
  
  .p-icon {
    display: inline-block;
    line-height: 0;
  }
  
  .p-icon.p-icon--colored svg [fill]:not([fill="none"]),
  .p-icon.p-icon--legacy-colored svg [fill]:not([fill="none"]) {
    fill: currentColor;
  }
  
  .p-icon.p-icon--colored svg [stroke]:not([stroke="none"]),
  .p-icon.p-icon--legacy-colored svg [stroke]:not([stroke="none"]) {
    stroke: currentColor;
  }
  
  .p-icon > svg {
    width: 100%;
    height: 100%;
  }
  
  .icon.p-icon {
    font-size: inherit;
  }
  
  .p-url-icon {
    display: inline-block;
    line-height: 0;
  }
  
  .p-icon-toggle {
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    color: #b0b8c1;
    color: var(--grey400);
  }
  
  .p-icon-toggle:hover {
    color: #90c2ff;
    color: var(--blue200);
  }
  
  .p-icon-toggle.p-icon-toggle--pressed {
    color: #3182f6;
    color: var(--blue500);
  }
  
  .p-icon-toggle:active {
    color: #1b64da;
    color: var(--blue700);
  }
  
  .p-icon-toggle__icon {
    color: inherit;
  }
  
  :root {
    --input-h-padding: 18px;
    --input-h-padding-s: var(--padding-s-horizontal);
    --input-v-padding: 14px;
    --input-v-padding-s: var(--padding-s-vertical);
    --input-height: 48px;
    --input-font-size: 15px;
    --input-background-color: var(--white);
    --input-disabled-background-color: var(--grey100);
    --input-border-color: var(--greyOpacity200);
    --input-disabled-border-color: var(--greyOpacity50);
  }
  
  :root .input--small {
    --input-height: 40px;
    --input-font-size: 14px;
  }
  
  :root .input--xsmall {
    --input-height: 32px;
    --input-font-size: 13px;
  }
  
  :root .input--fill {
    --input-background-color: var(--greyOpacity50);
    --input-border-color: var(--greyOpacity50);
    --input-disabled-background-color: var(--grey200);
    --input-disabled-border-color: var(--grey200);
  }
  
  :root .input__label--small {
    --required-dot-size: 4px;
  }
  
  :root .input__label--xsmall {
    --required-dot-size: 3px;
  }
  
  .input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    height: var(--input-height);
    margin: 1px auto 0;
    font-size: 15px;
    font-size: var(--input-font-size);
    line-height: 20px;
    color: #333d4b;
    color: var(--grey800);
    background-color: #fff;
    background-color: var(--input-background-color);
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(0, 27, 55, 0.1);
    box-shadow: inset 0 0 0 1px var(--input-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    transition: background 0.2s ease, color 0.1s ease, box-shadow 0.2s ease;
  }
  
  .input.input--multiline {
    height: auto;
    overflow: auto;
  }
  
  .input.input--active,
  .input.input--error,
  .input.input--focus,
  .input:active,
  .input:focus,
  .input:hover {
    outline: none;
  }
  
  .input:hover {
    box-shadow: inset 0 0 0 2px #90c2ff;
    box-shadow: inset 0 0 0 2px var(--blue200);
  }
  
  .input.input--active,
  .input.input--focus,
  .input:active,
  .input:focus {
    box-shadow: inset 0 0 0 2px #3182f6;
    box-shadow: inset 0 0 0 2px var(--blue500);
  }
  
  .input.input--error {
    box-shadow: inset 0 0 0 2px #f66570;
    box-shadow: inset 0 0 0 2px var(--red400);
  }
  
  .input.input--disabled,
  .input.input--readonly,
  .input:disabled,
  .input[readonly]:not(.p-select) {
    cursor: not-allowed;
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .input.input--readonly,
  .input[readonly]:not(.p-select) {
    box-shadow: inset 0 0 0 1px rgba(0, 27, 55, 0.1);
    box-shadow: inset 0 0 0 1px var(--input-border-color);
  }
  
  .input.input--disabled,
  .input:disabled {
    opacity: 1;
    background-color: #f2f4f6;
    background-color: var(--input-disabled-background-color);
    box-shadow: inset 0 0 0 1px rgba(0, 23, 51, 0.02);
    box-shadow: inset 0 0 0 1px var(--input-disabled-border-color);
  }
  
  .input.input--disabled.input--focus,
  .input.input--disabled:active,
  .input.input--disabled:focus,
  .input:disabled.input--focus,
  .input:disabled:active,
  .input:disabled:focus {
    outline: none;
    box-shadow: none;
  }
  
  .input__label {
    display: inline-block;
    padding: 5px 0;
    position: relative;
  }
  
  .input__label.input__label--required,
  .input__label.input__label--required.input__label--small {
    padding-right: 7px;
    padding-right: calc(var(--required-dot-size) + 3px);
  }
  
  .input__label.input__label--required.input__label--xsmall {
    padding: 3px 6px 3px 0;
    padding-right: calc(var(--required-dot-size) + 2px);
  }
  
  .input__label.input__label--required:after {
    display: inline-block;
    content: "";
    background-color: #f66570;
    background-color: var(--red400);
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 0;
  }
  
  .input__label.input__label--required:after,
  .input__label.input__label--small:after,
  .input__label.input__label--xsmall:after {
    width: 4px;
    width: var(--required-dot-size);
    height: 4px;
    height: var(--required-dot-size);
    margin-top: 2px;
  }
  
  .input__label.input__label--xsmall:after {
    top: 3px;
  }
  
  .input__label.input__label--row {
    width: 100px;
    margin-right: 14px;
    text-align: right;
  }
  
  .input__container--row[\:has\(input--multiline\)] .input__label--row {
    align-self: flex-start;
    margin-top: 4px;
  }
  
  .input__container--row:has(.input--multiline) .input__label--row {
    align-self: flex-start;
    margin-top: 4px;
  }
  
  .input__sub-text {
    margin-left: 5px;
  }
  
  .input__bottom-text {
    margin-top: 4px;
    display: inline-block;
  }
  
  .input__bottom-text-container--indented {
    margin-left: 114px;
  }
  
  .input__wrapper {
    position: relative;
  }
  
  .input__field {
    width: 100%;
    height: 100%;
    min-width: 0;
  }
  
  .input__label-field-container--label-direction-row {
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .input__date-range-picker__input,
  .input__field,
  .input__file-field__input-label {
    flex-grow: 1;
    outline: 0;
    border: 0;
    background: none;
    line-height: 48px;
    line-height: var(--input-height);
    font-size: inherit;
    padding: 0 18px;
    padding: 0 var(--input-h-padding);
    margin: 0;
    color: inherit;
  }
  
  .input__date-range-picker__input:disabled,
  .input__date-range-picker__input[readonly],
  .input__field:disabled,
  .input__field[readonly],
  .input__file-field__input-label:disabled,
  .input__file-field__input-label[readonly] {
    cursor: not-allowed;
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .input__date-range-picker__input::-moz-placeholder,
  .input__field::-moz-placeholder,
  .input__file-field__input-label::-moz-placeholder {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .input__date-range-picker__input:-ms-input-placeholder,
  .input__field:-ms-input-placeholder,
  .input__file-field__input-label:-ms-input-placeholder {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .input__date-range-picker__input::placeholder,
  .input__field::placeholder,
  .input__file-field__input-label::placeholder {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .input__date-range-picker__input:disabled::-moz-placeholder,
  .input__field:disabled::-moz-placeholder,
  .input__file-field__input-label:disabled::-moz-placeholder {
    color: #b0b8c1;
    color: var(--grey400);
  }
  
  .input__date-range-picker__input:disabled:-ms-input-placeholder,
  .input__field:disabled:-ms-input-placeholder,
  .input__file-field__input-label:disabled:-ms-input-placeholder {
    color: #b0b8c1;
    color: var(--grey400);
  }
  
  .input__date-range-picker__input:disabled::placeholder,
  .input__field:disabled::placeholder,
  .input__file-field__input-label:disabled::placeholder {
    color: #b0b8c1;
    color: var(--grey400);
  }
  
  .input__date-range-picker__input:-webkit-autofill,
  .input__date-range-picker__input:-webkit-autofill:focus,
  .input__date-range-picker__input:-webkit-autofill:hover,
  .input__field:-webkit-autofill,
  .input__field:-webkit-autofill:focus,
  .input__field:-webkit-autofill:hover,
  .input__file-field__input-label:-webkit-autofill,
  .input__file-field__input-label:-webkit-autofill:focus,
  .input__file-field__input-label:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px hsla(0, 0%, 100%, 0) inset;
    -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  }
  
  .input__date-range-picker__input.input__field--multiline,
  .input__field.input__field--multiline,
  .input__file-field__input-label.input__field--multiline {
    padding: 11px 16px;
    padding: var(--padding-base-vertical) var(--padding-base-horizontal);
  }
  
  .input__date-range-picker__input.input__field--hidden,
  .input__field.input__field--hidden,
  .input__file-field__input-label.input__field--hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  
  .input--small .input__field,
  .input--small .input__file-field__input-label,
  .input--xsmall .input__field,
  .input--xsmall .input__file-field__input-label {
    padding: 0 12px;
    padding: 0 var(--input-h-padding-s);
  }
  
  .input__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
  }
  
  .input__button .icon {
    display: block;
  }
  
  .input__left-addon {
    margin: 0 -8px 0 18px;
    margin: 0 -8px 0 var(--input-h-padding);
  }
  
  .input__right-addon {
    margin: 0 18px 0 -8px;
    margin: 0 var(--input-h-padding) 0 -8px;
  }
  
  .input__addon-text {
    white-space: nowrap;
  }
  
  .input__file-field__input-label {
    color: #8b95a1;
    color: var(--grey500);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .input__file-field__input-label.input__file-field__input-label--active {
    color: #333d4b;
    color: var(--grey800);
  }
  
  .input__file-field__input-label.input__file-field__input-label--disabled {
    cursor: not-allowed;
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .input__search .input__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  
  .input__search .input__field::-ms-clear {
    display: none;
  }
  
  .input__search--fill {
    background-color: rgba(0, 23, 51, 0.02);
    background-color: var(--greyOpacity50);
    box-shadow: none;
  }
  
  .input__search--fill.input--active,
  .input__search--fill.input--disabled,
  .input__search--fill.input--focus,
  .input__search--fill.input--readonly,
  .input__search--fill:active,
  .input__search--fill:disabled,
  .input__search--fill:focus,
  .input__search--fill:hover,
  .input__search--fill[readonly]:not(.p-select) {
    box-shadow: none;
  }
  
  .input__search--fill.input--error {
    box-shadow: inset 0 0 0 2px #f66570;
    box-shadow: inset 0 0 0 2px var(--red400);
  }
  
  .input--small .input__left-addon,
  .input--xsmall .input__left-addon {
    margin: 0 -4px 0 12px;
    margin: 0 -4px 0 var(--input-h-padding-s);
  }
  
  .input--small .input__right-addon,
  .input--xsmall .input__right-addon {
    margin: 0 12px 0 -4px;
    margin: 0 var(--input-h-padding-s) 0 -4px;
  }
  
  .prefers-reduced-motion .input {
    transition: none;
  }
  
  .p-dark {
    --input-background-color: var(--whiteOpacity100);
    --input-border-color: var(--whiteOpacity50);
    --input-disabled-background-color: var(--whiteOpacity50);
    --input-disabled-border-color: var(--whiteOpacity50);
  }
  
  .p-dark .input:hover {
    box-shadow: inset 0 0 0 2px #1957c2;
    box-shadow: inset 0 0 0 2px var(--blue800);
  }
  
  .p-dark .input__field {
    color: #e5e8eb;
    color: var(--grey200);
  }
  
  .p-dark .input__field::-moz-placeholder {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .p-dark .input__field:-ms-input-placeholder {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .p-dark .input__field::placeholder,
  .p-dark .input__field:disabled {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .p-dark .input__field:disabled::-moz-placeholder {
    color: #6b7684;
    color: var(--grey600);
  }
  
  .p-dark .input__field:disabled:-ms-input-placeholder {
    color: #6b7684;
    color: var(--grey600);
  }
  
  .p-dark .input__field:disabled::placeholder {
    color: #6b7684;
    color: var(--grey600);
  }
  
  .p-dark .input--disabled > .input__button > .p-icon,
  .p-dark .input--disabled > .input__left-addon {
    color: #333d4b !important;
    color: var(--grey800) !important;
  }
  
  .p-textarea {
    max-height: 234px;
    font-family: sans-serif;
    line-height: inherit;
    overflow: auto;
  }
  
  .p-textarea--resize-off {
    resize: none;
  }
  
  .p-dark .p-menu__item {
    color: #e5e8eb;
    color: var(--grey200);
  }
  
  .p-input__number-field > input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  .p-input__number-field__button {
    box-shadow: inset 0 0 0 1px rgba(0, 27, 55, 0.1);
    box-shadow: inset 0 0 0 1px var(--input-border-color);
  }
  
  .p-input__number-field__button + .p-input__number-field__button {
    margin-left: 4px;
  }
  
  .p-input__number-field.p-input__number-field--center {
    margin: 0 8px;
  }
  
  .p-input__number-field.p-input__number-field--left {
    margin: 0 8px 0 0;
  }
  
  .p-input__number-field__wrapper--xsmall .p-input__number-field--center {
    margin: 0 6px;
  }
  
  .p-input__number-field__wrapper--xsmall .p-input__number-field--left {
    margin: 0 6px 0 0;
  }
  
  .p-result {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    background-color: var(--background);
    height: 100%;
  }
  
  .p-result,
  .p-result__figure {
    display: flex;
    justify-content: center;
  }
  
  .p-result__figure {
    width: 280px;
    height: 140px;
    margin-bottom: 32px;
  }
  
  .p-result__figure svg {
    height: 140px !important;
  }
  
  .p-result__figure--small {
    height: 80px;
  }
  
  .p-result__image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .p-result__icon {
    margin-bottom: 12px;
  }
  
  .p-result__title {
    margin: 0 0 4px;
    font-size: 24px;
    font-size: var(--font-size-h5);
    font-weight: 700;
    color: #4e5968;
    color: var(--grey700);
  }
  
  .p-result__description,
  .p-result__title {
    line-height: 1.6;
    line-height: var(--line-height-base);
  }
  
  .p-result__description {
    font-size: 17px;
    font-size: var(--font-size-h7);
    color: #6b7684;
    color: var(--grey600);
    margin: 0;
  }
  
  .p-result__buttons {
    margin-top: 16px;
  }
  
  @media (max-width: 640px) {
    .p-result__title {
      font-size: 20px;
      font-size: var(--font-size-h6);
    }
  
    .p-result__description {
      font-size: 15px;
      font-size: var(--font-size-p);
    }
  
    .p-result__buttons {
      margin-top: 14px;
    }
  }
  
  .p-result__button + .p-result__button {
    margin-left: 8px;
  }
  
  .p-select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9ImxpbmUtaWNvbiI+PHBhdGggZD0iTTggMTEuMTVhLjg5Ny44OTcgMCAwMS0uNjM2LS4yNjRsLTQuNS00LjVhLjkuOSAwIDExMS4yNzItMS4yNzNMOCA4Ljk3N2wzLjg2NC0zLjg2NGEuOS45IDAgMTExLjI3MiAxLjI3M2wtNC41IDQuNUEuODk3Ljg5NyAwIDAxOCAxMS4xNSIgZmlsbD0iI0IwQjhDMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    background-position: right 18px top 14px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 0 48px 0 0;
    cursor: pointer;
    text-align: left;
  }
  
  .p-select::-ms-expand {
    opacity: 0;
  }
  
  .p-select::-moz-selection {
    background-color: transparent;
  }
  
  .p-select::selection {
    background-color: transparent;
  }
  
  .p-select[aria-readonly="true"] {
    background-color: #fff;
    background-color: var(--background);
    color: #333d4b;
    color: var(--grey800);
    box-shadow: inset 0 0 0 1px rgba(0, 27, 55, 0.1);
    box-shadow: inset 0 0 0 1px var(--input-border-color);
  }
  
  .p-select--small {
    background-position: right 12px top 11px;
    background-size: 18px;
    padding: 0 40px 0 0;
  }
  
  .p-select--xsmall {
    background-size: 16px;
    padding: 0 38px 0 0;
    background-position: right 12px top 8px;
  }
  
  .p-select--disabled,
  .p-select--placeholder {
    color: #8b95a1;
    color: var(--grey500);
  }
  
  .p-select--disabled.p-select--placeholder {
    color: #b0b8c1;
    color: var(--grey400);
  }
  
  .p-select__native {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .p-select__field {
    line-height: 1.6;
    line-height: var(--line-height-base);
    display: flex;
    align-items: center;
    padding-right: 6px;
  }
  
  .p-select__field-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }