.headernav{
    width: 30px;
    height: 30px;
    marginTop: "4%";
    marginLeft: "20px";
}
.items{
    margin-top: -65px;
}

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 15px;
}

.content {
    text-align: left;
    margin-bottom: 10px;
    margin-top: -65px;
    margin-left: 120px;
    border-radius: 15px;
}
.bigSlider {
    opacity: 1;
    max-width: 700px;
    border-radius: 15px;
    width: 100%;
    margin-top: -20%;
}


.imageSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 15px;
}

.thumbnail {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.details {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 15%;
}

.button {
    background-color: #405DE6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10%;
}

.textarea {
    width: 100%;
    height: 7.25em;
    border: 1px solid black;
    resize: none;
    margin-top: 10%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.buttonDiv {
    text-align: center;
}

.IoCalendarNumber {
    margin-right: 10px;
}

.images {
    border-radius: 15px;
}

.FaCar {
    margin-right: 10px;
    color: red;
}

.FaStar {
    margin-right: 10px;
    color: gold;
}
.IoCalendarNumber{
    color: #405DE6;
}
